<html>
<head>
   <% include partials/head.ejs %>
</head>
<body>
   <% include partials/menu.ejs %>
   <% include partials/headline.ejs %>
   <div class="container">
         <div class="row">
            <div class="col-md-9">
              <img class="img-rounded" src="/images/<%=city%>/<%=city%>.jpg"/>
            </div>
         </div>
    </div>
   <% include partials/jsIncludes.ejs %>
</body>
</html>
