<!DOCTYPE html>
<html>
  <head>
    <% include partials/head.ejs %>
  </head>
  <body>
    <% include partials/menu.ejs %>
    <div class="container">
      <div class="row top30">
        <h1><%= title %></h1>
        <p><%= headline %></p>
      </div>
    </div>
  </body>
</html>
